body {
    background-color:#f5f5f5;
}

#title {
    color: #bca89f;
    text-shadow: 2px 2px 3px black;
    font: 24px bold italic;
    margin-right: auto;
    padding: 9px;
}

.menubalk ul {
    list-style: none;
    display: flex;
}

.menubalk li {
    margin-left: 80px;
}

.menubalk a {
    color: #BB112A;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.menubalk a:hover {
    background-color: #781F19;
    border-radius: 10px;
    color: floralwhite;
}

#terug-naar-menu {
    font-size: 30px;
    color: red;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border-color: transparent;
    background-color: red ;
    cursor: pointer;
}