#feestelijkedag {
    border: 15px solid #F4BE78;
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 38vh; 
    left: 5.3vw; 
}

#bron1 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 100vh;    
  left: 5.3vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box; 
}

#steun-duiven {
  max-width: 340px;
  height: auto;
  border: 15px solid #F4BE78;
  position: absolute;
  top: 38vh;
  left: 32.5vw;
}

#bron2 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 90.5vh;    
  left: 32.5vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box; 
}

#ogtent {
  border: 15px solid #F4BE78;
  max-width: 450px;
  height: auto;
  position: absolute;
  top: 38vh; 
  right: 4.5vw; 
}

#bron3 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 85vh;    
  right: 29.2vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box; 
}

#opkomenvoorvrouwen {
  border: 15px solid #F4BE78;
  max-width: 300px;
  height: auto;
  position: absolute;
  top: 110vh; 
  left: 5.3vw; 
}

#bron4 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 146.7vh;    
  left: 5.3vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

#hoop {
  border: 15px solid #F4BE78;
  max-width: 326px;
  height: auto;
  position: absolute;
  top: 110vh; 
  left: 32.5vw; 
}

#bron5 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 146.7vh;    
  left: 32.5vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

#oegandadag {
  border: 15px solid #F4BE78;
  max-width: 365px;
  height: auto;
  position: absolute;
  top: 110vh; 
  right: 10.2vw; 
}

#bron6 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 146.7vh;    
  right: 29vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

#irrigatie-mogelijk {
  border: 15px solid #F4BE78;
  max-width: 250px;
  height: auto;
  position: absolute;
  top: 155vh; 
  left: 5.3vw; 
}

#bron7 {
  color: white;
  font-size: 10px; 
  background-color: #E77A19;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 212.5vh;    
  left: 5.3vw;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

.homepage-hero {
    background-image: url("augustus-2024-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.homepage-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: top;
    color: white;
}

/* Centrale stijlen voor Stichting Ddembe website */

/* Kleuren:
   - Achtergrond: #FFEFDF
   - Tekst: #000000
   - Navigatiebalk: #F4BE78
   - Accentkleur: #E77A19
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFEFDF;
    color: #000000;
    position: relative;
  }
  
  header {
    background-color: #F4BE78;
    padding: 1rem;
    padding: 10px 20px; /* minder binnenruimte */
    height: 50px; 
  }
  
  .logo img {
    height: 60px;
  }
  
  nav ul {
    list-style: none;
    padding: 1rem 0;
    margin: 1rem 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  nav a.active {
    color: #E77A19;
  }
  
  .container {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
  }
  
  h1 {
    color: #E77A19;
  }
  
  footer {
    background-color: #F4BE78;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }

  #lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 60%;
    max-height: 60%;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    cursor: pointer;
}

.clickable-image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 90%;
    bottom: 2%;
}
.afbeeldingen-container {
  display: flex;
  gap: 10px;
}

.leden-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.lid {
  text-align: center;
  max-width: 250px;
  font-family: 'Times New Roman', Times, serif;
}

.lid img {
  width: 100%;
  height: auto;
  border: 10px solid #F4BE78;
  border-radius: 5px;
}

.naam {
  color: #F4BE78;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;

}

.functie {
  color: #E77A19;
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

.hoofdtekst {
  color: #E77A19;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #F4BE78;
  display: block;
  text-align: center;
  padding: 15px; 
  border-radius: 10px;
  font-size: 40px;
}

#bankrekening{
  color: #E77A19;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.h {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

#donateBtn {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #E77A19;
  border-radius: 50px;
  border: none;
  padding: 15px;
  margin: 20px;
}

#informatie {
  text-align: center;
  margin-bottom: 60px;
}

.indextitel {
  color: #E77A19;
  font-size: 20px;
  background-color: #F4BE78;
  padding: 10px;
  padding-right: 30%;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 0 40px;
}

#index1, #index2, #index3, #index4, #index5, #index6 {
  position: static; 
}

#index1, #index3, #index4, #index6 {
  position: relative;
  left: -17vw;
}

#index2, #index5 {
  position: relative;
  right: -17vw;
}

#index4, #index5, #index6 {
  padding: 20px;
}

#logo-positie {
  position: relative;
  width: 78vw; 
  height: 0vh;
  overflow: visible; 
}

#indexlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: auto;
}